.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40vw;
        max-height: 90%;
        margin-left: 50px;
    }

    h1 {
        color: #ffffff;
        font-size: 80px;
        margin: 0;
        font-family: 'Coolvetica', serif;
        font-weight: 400;

        @media only screen and (max-width: 1200px) {
            font-size: 50px;
        }

        @media only screen and (max-width: 805px) {
            font-size: 40px;
        }

        @media only screen and (max-width: 660px) {
            font-size: 30px;
        }

        @media only screen and (max-width: 600px) {
            font-size: 20px;
        }

        &::before {
            content: '<h1> pssst, hover over the letters for a little magic trick...';
            font-family: 'La Belle Aurore', serif;
            color: #ffd700;
            font-size: 20px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;

        }

        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore', serif;
            color: #ffd700;
            font-size: 20px;
            position: absolute;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6 ;
        }

        img {
            width: 70px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: fadeIn 1s linear both;
            animation-delay: 1.4s;

            @media only screen and (max-width: 1150px) {
                width: 50px;
            }

            @media only screen and (max-width: 805px) {
                width: 40px;
            }

            @media only screen and (max-width: 660px) {
                width: 30px;
            }

            @media only screen and (max-width: 600px) {
                width: 20px;
            }
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 13px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeInAnimation 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }
}